.profile-container {
  position: center;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
}

.profile-nav {
  position: center;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
