.home {
  user-select: none;
  scrollbar-width: none;
}
.home-navbar {
  height: 70px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.home-navbar-title {
  margin-left: 70px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  /* color: rgb(38, 159, 230); */
}
.home-navbar-signup {
  margin-left: 30px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  /* color: rgb(38, 159, 230); */
}
.home-navbar-signup-onmouse {
  margin-left: 30px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0, 75%);
  /* color: rgb(38, 159, 230); */
}
.home-navbar-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 35px;
  height: 45px;
  width: 110px;
  /* color: rgb(38, 159, 230); */
}
.home-navbar-signin-onmouse {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: rgb(0, 0, 0, 75%);
  border-radius: 35px;
  height: 45px;
  width: 110px;
  /* color: rgb(38, 159, 230); */
}
.home-title {
  margin-left: 70px;
  margin-top: 150px;
  font-size: 60px;
  font-weight: bold;
  color: black;
  /* color: rgb(38, 159, 230); */
}
.home-find-block {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}
.home-input-block {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 4px;
  /* border-color: black; */
  /* border-style: solid; */
  /* border-width: 1px; */
  margin-left: 70px;
  margin-top: 50px;
  width: 600px;
  height: 50px;

  background-color: white;
  /* color: rgb(38, 159, 230); */
}
.home-input {
  outline: none;
  border: none;
  margin-left: 15px;
  width: 530px;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  color: black;
  background-color: white;
  /* color: rgb(38, 159, 230); */
}
.home-submit-enable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(0, 0, 0, 100%);
  border-radius: 4px;
  height: 50px;
  width: 170px;
  /* color: rgb(38, 159, 230); */
}
.home-submit-disable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(0, 0, 0, 50%);
  border-radius: 4px;
  height: 50px;
  width: 170px;
  /* color: rgb(38, 159, 230); */
}
.home-submit-onmouse {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(0, 0, 0, 75%);
  border-radius: 4px;
  height: 50px;
  width: 170px;
  /* color: rgb(38, 159, 230); */
}
.home-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 100%;
  /* color: rgb(38, 159, 230); */
}
.home-bottom-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  /* background-color: red; */
}
.home-bottom-sections-image {
  height: 200px;
  width: 200px;
}
.home-bottom-sections-link {
  font-size: 24px;
  font-weight: 400;
  color: black;
  margin-top: 20px;
}
.home-bottom-sections-link-onmouse {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
  text-decoration: underline;
}
.home-bottom-sections-mid {
  height: 300px;
  width: 100px;
  /* background-color: blue; */
  /* color: rgb(38, 159, 230); */
}
