.signup {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.signup-title {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: black;
}
.signup-content {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: gray;
}
.signup-signin {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.signup-signin-onmouse {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0, 75%);
}
.signup-google {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 350px;
  height: 40px;
  border-radius: 25px;

  background-color: rgb(65, 133, 246, 100%);
}
.signup-google-onmouse {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 350px;
  height: 40px;
  border-radius: 25px;

  background-color: rgb(52, 103, 214, 100%);
}
.signup-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 350px;
  height: 40px;
  border-radius: 25px;

  background-color: rgb(0, 0, 0, 100%);
}
.signup-submit-onmouse {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 350px;
  height: 40px;
  border-radius: 25px;

  background-color: rgb(0, 0, 0, 75%);
}
.signup-google-icon {
  height: 15px;
  border-radius: 20px;
}
.signup-google-icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  height: 25px;
  width: 25px;
}
.signup-google-content {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.signup-names {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* background-color: red; */

  width: 400px;
}
.signup-block {
  display: flex;

  flex-direction: column;
  /* background-color: blue; */
}
.signup-content-title {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.signup-content-error {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: red;
}
.signup-name-input-block {
  margin-top: 10px;
  height: 40px;
  width: 190px;
  background-color: rgb(0, 0, 0, 5%);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 0, 0, 0%);
}
.signup-name-input-block-ontyping {
  margin-top: 10px;
  height: 40px;
  width: 190px;
  background-color: rgb(0, 0, 0, 5%);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 0, 0, 100%);
}
.signup-name-input {
  outline: none;
  border: none;
  margin-left: 15px;
  width: 150px;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  color: black;
  background-color: rgb(0, 0, 0, 0%);
}
.signup-input-block {
  margin-top: 10px;
  height: 40px;
  width: 400px;
  background-color: rgb(0, 0, 0, 5%);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 0, 0, 0%);
}
.signup-input-block-ontyping {
  margin-top: 10px;
  height: 40px;
  width: 400px;
  background-color: rgb(0, 0, 0, 5%);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 0, 0, 100%);
}
.signup-input-block-onerror {
  margin-top: 10px;
  height: 40px;
  width: 400px;
  background-color: rgb(0, 0, 0, 5%);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: red;
}
.signup-input {
  outline: none;
  border: none;
  margin-left: 15px;
  width: 360px;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  color: black;
  background-color: rgb(0, 0, 0, 0%);
}
